@font-face {
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/GT-Walsheim-Pro-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/GT-Walsheim-Pro-Bold.woff2") format("woff2");
}
