:root {
  --title-margin: var(--size-unit-4) 0 var(--size-unit-6);
  --title-font-size: var(--font-size-x-large);
  --title-help-margin: var(--size-unit-1) var(--size-unit-2) 0;
}

.wrapper {
  margin: var(--title-margin);
}

.wrapper,
.content {
  display: flex;

  align-items: center;
}

.content {
  flex-grow: 1;
}

.title {
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-bold);

  padding: 0;
  margin: 0;
}

.help {
  margin: var(--title-help-margin);
  font-size: var(--font-size-regular);
}

.main {
  --title-font-size: var(--font-size-x-large);
}

.sub {
  --title-font-size: var(--font-size-large);
}

.inline {
  --title-font-size: var(--font-size-medium);
}

.right {
  flex-grow: 0;
}
