.header {
  position: fixed;

  z-index: 10;

  width: 100%;

  display: grid;
  align-items: center;

  grid-template-columns: min-content 1fr min-content;

  padding: var(--size-page-margin);
}

.left {
  position: absolute;

  display: flex;

  align-items: center;

  top: var(--size-page-margin);
  left: var(--size-page-margin);
}

.logo {
  padding: 0 var(--size-unit-4);
}

.right {
  position: absolute;

  top: var(--size-page-margin);
  right: var(--size-page-margin);

  justify-self: flex-end;
}
