.header {
  position: fixed;

  z-index: 10;

  display: grid;

  grid-template-columns: min-content 1fr min-content;

  padding: var(--size-page-margin);
}

.left {
}

.logo {
  padding: 0 var(--size-unit-4);
}

.right {
  align-self: flex-end;
}
