.header {
  position: fixed;

  z-index: 10;

  width: 100%;

  display: grid;
  align-items: center;

  grid-template-columns: min-content 1fr min-content;

  padding: var(--size-page-margin);
}

.left {
  position: relative;
  top: 0.5px;
}

.logo {
  padding: 0 var(--size-unit-4);
}

.right {
  justify-self: flex-end;
}
