.columns {
  display: grid;

  gap: var(--size-unit-4);

  grid-template-columns: 1fr 1fr;

  .left {
    grid-column: 1;
  }

  .right {
    grid-column: 2;
  }
}

.subtitle {
  --title-margin: var(--size-unit-4) 0 0;

  color: var(--color-text-light);
}

.title {
  --title-margin: 0 0 var(--size-unit-10);
}

.right {
  p {
    color: var(--color-text-light);
  }
}

.playerList {
  list-style: none;

  padding: 0;
  margin: var(--size-unit-4) 0;
}

.player {
  display: grid;

  grid-template-columns: min-content 1fr;
  column-gap: var(--size-unit-4);

  align-items: center;

  margin: var(--size-unit-2) 0;

  span {
    font-weight: var(--font-weight-bold);
  }
}
