:root {
  --icon-button-size: 36px;
  --icon-button-inner-size: 24px;
  --icon-button-border-radius: 100%;

  --icon-button-border-width: 1px;
  --icon-button-border-color: white;
}

.wrapper {
  display: flex;

  align-items: center;
  justify-content: center;

  width: var(--icon-button-size);
  height: var(--icon-button-size);

  padding: 0;

  border-radius: var(--icon-button-border-radius);

  border: 0;

  svg {
    width: var(--icon-button-inner-size);
    height: var(--icon-button-inner-size);
  }
}

.border {
  border: var(--icon-button-border-width) solid var(--icon-button-border-color);
}
