:root {
  --icon-button-size: 36px;
  --icon-button-inner-size: 24px;
  --icon-button-border-radius: 100%;
}

.wrapper {
  display: flex;

  align-items: center;
  justify-content: center;

  width: var(--icon-button-size);
  height: var(--icon-button-size);

  border-radius: var(--icon-button-border-radius);

  border: 0;

  svg {
    width: var(--icon-button-inner-size);
    height: var(--icon-button-inner-size);
  }
}
